<section
  class="p-8 border border-gray-200 rounded-md shadow-sm shadow-blue-200"
>
  <h4 class="mb-4 text-xl text-blue-500">comments (24)</h4>
  <div class="flex flex-col gap-4">
    <div class="flex flex-col p-4 bg-blue-200/50">
      <span class="text-blue-500">John Doe</span>
      <span class="text-xs">Last updated - sep 20, 2020</span>
      <p class="my-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime vel hic
        atque delectus soluta dolor dolorem mollitia modi! Ipsa inventore ullam
        sunt quisquam alias? Repellat neque ipsum mollitia, unde saepe harum
        labore, animi doloribus beatae similique soluta non, fugit delectus?
      </p>
      <div class="flex flex-row gap-4">
        <a href="#" class="text-blue-500 uppercase">Reply</a>
        <a href="#" class="text-blue-500 uppercase">View Reply</a>
      </div>
    </div>
    <div class="flex flex-col p-4 bg-blue-200/50">
      <span class="text-blue-500">John Doe</span>
      <span class="text-xs">Last updated - sep 20, 2020</span>
      <p class="my-4">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Maxime vel hic
        atque delectus soluta dolor dolorem mollitia modi! Ipsa inventore ullam
        sunt quisquam alias? Repellat neque ipsum mollitia, unde saepe harum
        labore, animi doloribus beatae similique soluta non, fugit delectus?
      </p>
      <div class="flex flex-row gap-4">
        <a href="#" class="text-blue-500 uppercase">Reply</a>
        <a href="#" class="text-blue-500 uppercase">View Reply</a>
      </div>
    </div>
  </div>
</section>
