<footer
  class="flex justify-center items-center h-48 absolute bottom-0 w-full bg-primary/5 border-t border-primary"
>
  <div class="container">
    <div class="flex flex-col justify-center items-center">
      <app-logo></app-logo>
      <ul class="flex flex-row gap-28 uppercase mt-8 h-8">
        <li>
          <a
            class="block text-sm border-b-0 hover:border-b-2 border-primary transform transition duration-200 hover:scale-125"
            href="#"
            >link 1</a
          >
        </li>
      </ul>

      <p class="my-4">Copyright &copy; 2023 Ordinary Traveller</p>
    </div>
  </div>
</footer>
