<footer
  class="bottom-0 flex items-center justify-center w-full mt-16 bg-blue-300 border-t border-primary"
>
  <div class="container">
    <div class="flex flex-row items-center justify-between">
      <app-logo></app-logo>
      <ul class="flex-row hidden uppercase md:flex gap-28">
        <li>
          <a
            class="block text-sm text-white transition duration-200 transform border-b-0 hover:border-b-2 border-primary hover:scale-125"
            href="#"
            >link 1</a
          >
        </li>
      </ul>

      <p class="my-4 text-white">Copyright &copy; 2023 Ordinary Traveller</p>
    </div>
  </div>
</footer>
