<section class="py-4 bg-blue-200/50">
  <div
    class="container flex flex-col items-center justify-center gap-4 mx-auto text-center"
  >
    <h2 class="text-3xl">Featured Posts</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod,
      dignissimos!
    </p>

    <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</section>

<section class="container py-16 mx-auto text-center">
  <h2 class="text-3xl">Latest Posts</h2>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, dignissimos!
  </p>

  <div class="grid grid-cols-1 gap-8 mt-8 md:grid-cols-2 lg:grid-cols-3">
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
    <app-post-card></app-post-card>
  </div>
</section>
